manifest_version: 2
name: "Whose News"
description: "An extension to tell you where your news comes from"
version: "0.1.2"

icons:
  16: "{{../shared/img/Whose-News-Icon-Small16.png}}"
  19: "{{../shared/img/Whose-News-Icon-Small19.png}}"
  32: "{{../shared/img/Whose-News-Icon32.png}}"
  38: "{{../shared/img/Whose-News-Icon38.png}}"
  48: "{{../shared/img/Whose-News-Icon48.png}}"
  64: "{{../shared/img/Whose-News-Icon64.png}}"
  128: "{{../shared/img/Whose-News-Icon128.png}}"
  250: "{{../shared/img/Whose-News-Icon250.png}}"

browser_action:
  default_icon:
    19: "{{../shared/img/Whose-News-Icon-Small19.png}}"
    38: "{{../shared/img/Whose-News-Icon38.png}}"
  default_popup: "{{./views/popup/index}}"
  default_title: "Whose News: No news detected"

permissions: []

author: "Ben from BenSites.com, ess090502, and contributors"

sandbox:
  pages: ["{{../shared/views/popup/index}}"]

background:
  scripts: [
    "{{entry?name=background.js!./background}}"
  ]
  persistent: false

content_scripts: [
  {
    matches: ["<all_urls>"],
    js: ["{{entry?name=content.js!./content}}"]
  }
]
