// From https://codepen.io/minipai/pen/Etnhv

.chrome-tabs {
  height: 45px;
  padding: 0 0 0 0;
  overflow: visible;

  .tab {
    width: 200px;
    height: 45px;
    overflow: hidden;
    float: left;
    margin: 0 -15px 0 0;
  }

  .tab-box {
    height: 50px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin: 0 10px 0;
    box-shadow: 0 0 2px  #fff inset;
    -webkit-transform: perspective(100px) rotateX(30deg);
    -moz-transform: perspective(100px) rotateX(30deg);
  }

  .tab.active {
    z-index: 40;
    position: relative;
    padding-bottom: 1px;
  }

  .tab.active .tab-box {
    background-color: #eee;
    box-shadow: 0 0 2px 0 #fff inset;
  }
}

.mac-window {
	font-family: HelveticaNeue, 'Helvetica Neue', 'Lucida Grande', Arial, sans-serif;
	span {
		line-height: 9px;
		vertical-align: 50%;
	}
	background: #fff;
	margin-top: 12.5vh;
	border: 1px solid #acacac;
	border-radius: 6px;
	box-shadow: 0px 0px 20px #acacac;
	.mac-buttons {
		padding-left: 8px;
		padding-top: 17px;
		float: left;
		line-height: 0px;
		a {
			text-decoration: none;
		}
		&:hover a {
			visibility: visible;
		}
		.close {
			background: #ff5c5c;
			font-size: 9pt;
			width: 11px;
			height: 11px;
			border: 1px solid #e33e41;
			border-radius: 50%;
			display: inline-block;
		}
		.close:active {
			background: #c14645;
			border: 1px solid #b03537;
		}
		.close:active .closebutton {
			color: #4e0002;
		}
		.closebutton {
			color: #820005;
			visibility: hidden;
			cursor: default;
		}
		.minimize {
			background: #ffbd4c;
			font-size: 9pt;
			line-height: 11px;
			margin-left: 4px;
			width: 11px;
			height: 11px;
			border: 1px solid #e09e3e;
			border-radius: 50%;
			display: inline-block;
		}
		.minimize:active {
			background: #c08e38;
			border: 1px solid #af7c33;
		}
		.minimize:active .minimizebutton {
			color: #5a2607;
		}
		.minimizebutton {
			color: #9a5518;
			visibility: hidden;
			cursor: default;
		}
		.zoom {
			background: #00ca56;
			font-size: 9pt;
			line-height: 11px;
			margin-left: 6px;
			width: 11px;
			height: 11px;
			border: 1px solid #14ae46;
			border-radius: 50%;
			display: inline-block;
		}
		.zoom:active {
			background: #029740;
			border: 1px solid #128435;
		}
		.zoom:active .zoombutton {
			color: #003107;
		}
		.zoombutton {
			color: #006519;
			visibility: hidden;
			cursor: default;
		}
	}
}
